.wrapper {
	display: flex;
	flex-grow: 1;
}
.navSide {
	width: 300px;
	/* height: 100vh; */
	border-right: 3px solid #0000001c;
}
.title {
	padding-left: 20px;
	padding-top: 25px;
	padding-bottom: 15px;

	background-color: #c2b8a995;
}
.navList {
}
.navItem {
	font-size: 21px;
	padding: 10px 20px;
	border: 1px solid #00000012;
	margin-bottom: 2px;
}

.mainSide {
	padding: 0 15px;
	padding-top: 20px;
	margin-left: 10px;
	flex-grow: 1;
}

.filterBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.addBookBtn {
	max-width: 160px;
}
.addBookBtn > * {
	height: 55px;
}

.bookListWrapper {
	margin-top: 20px;
}
