.wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.wrapper > div {
	display: flex;
	flex-grow: 1;
}

.leftSide {
	padding-top: 20px;
	padding-right: 20px;
}
.userLogo {
	height: 450px;
	width: 450px;

	object-fit: cover;
	border-radius: 50%;
}
.userInfoList {
	margin-top: 15px;
}
.navButtonsBox {
	margin-top: 15px;
	display: flex;
	gap: 15px;
}
.userInfoItem {
	display: flex;
	align-items: center;
	gap: 10px;
	/* justify-content: space-between; */
}
.userInfoItem:not(:last-child) {
	margin-bottom: 7px;
}
.userInfoItemTextPart {
	display: flex;
}
.itemTitle {
	opacity: 0.5;
	margin-right: 5px;
}
.itemInfo {
}
.itemChangeBtn {
	width: 25px;
	height: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	border: 1px solid #00000036;
	border-radius: 3px;

	cursor: pointer;
}

.rightSide {
	padding-top: 40px;
	padding-left: 50px;
	flex-grow: 1;
}
.bookList {
	margin-top: 15px;
}
.point {
	height: 10px;
	background-color: #64503d1c;
	flex: 1 1 auto;
	border-radius: 10px;
}
