.hero {
	margin-top: 15px;
}
.heroContentWrapper {
	height: 700px;
	display: flex;
	align-items: center;

	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.6) -10%,
		rgba(110, 87, 27, 0.425) 130%
	);
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 25px;

	color: #fff;
}
.heroTextBg {
	width: 100%;
	padding: 90px 0;
	text-align: center;
	background-color: #00000061;
}
.heroTitle {
}
.schoolText {
	margin-top: 10px;
	font-size: 20px;
}
.heroBtn {
	margin: 0 auto;
	margin-top: 15px;
	max-width: 200px;
}
