.dropdown {
	height: 55px;
	width: 100%;
	padding: 0 15px;

	display: flex;
	align-items: center;

	border-radius: 11px;
	border: 1px solid rgba(0, 0, 0, 0.162);
}
.dropdown:focus,
.dropdown:active {
	border: 1px solid #b8a382;
	outline: none;
}

.arrow {
	top: 50%;
	transform: translateY(-50%);
}
.menu {
	margin-top: 2px;
	border-radius: 7px;
}
.menu > * {
	height: 40px;
}
